body {
    font-family: sans-serif;
  }
  
  /* Make content area fill the entire browser window */


  .obligatoire{
    color: red;
  }

  fieldset{
    border-color: #F00;
    border-style: solid;
  }